body {
  font-family: Arial;
  background:#111;
  color:#fff;
  padding:20px;
}
input, select, button {
  width:100%;
  padding:12px;
  margin:6px 0;
  border-radius:6px;
}
button {
  background:#00e676;
  font-weight:bold;
}
